<div class="user-profile">
@if(currentUser && currentUser.Profile && currentUser.Preferences)
{
    <form [formGroup]="userProfileForm">

        <!--Profile section-->
        <h2>User Profile</h2>
        <div formGroupName="userProfile">
            <div>
                <label for="txtFirstName">First Name:</label>
                @if (!isEditing) {
                <span>{{ currentUser.Profile.FirstName }}</span>
                }
                @else {
                <input type="text" id="txtFirstName" formControlName='firstname' />
                @if (firstname?.invalid && firstname?.touched) {
                <small class="error">Enter a valid First Name</small>
                }
                }
            </div>
            <div>
                <label for="txtLastName">Last Name:</label>
                @if (!isEditing) {
                <span>{{ currentUser.Profile.LastName }}</span>
                }
                @else {
                <input type="text" id="txtLastName" formControlName="lastname" />
                @if (lastname?.invalid && lastname?.touched) {
                <small class="error">Enter a valid Last Name</small>
                }
                }
            </div>
            <div>
                <label for="txtEmail">Email Address:</label>
                @if (!isEditing) {
                <span>{{ currentUser.Profile.EmailAddress }}</span>
                }
                @else {
                <input type="text" id="txtEmail" formControlName="emailaddress" />
                @if (emailaddress?.invalid && emailaddress?.touched) {
                <small class="error">Enter a valid Email Address</small>
                }
                }
            </div>
            <div>
                <label for="txtBio">Bio:</label>
                @if (!isEditing) {
                <span>{{ currentUser.Profile.Bio }}</span>
                }
                @else {
                <textarea id="txtBio" formControlName="bio">

                </textarea>
                }
            </div>
            <div>
                <label for="txtDOB">Date of Birth:</label>
                @if (!isEditing) {
                <span>{{ currentUser.Profile.DateOfBirth }}</span>
                }
                @else {
                <input type="date" id="txtDOB" formControlName="dateofbirth" />
                }
            </div>
            <div>
                <label for="txtProfilePicUrl">Profile Picture:</label>
                @if (!isEditing) {
                <span>{{ currentUser.Profile.ProfilePictureUrl }}</span>
                }
                @else {
                <input type="text" id="txtProfilePicUrl" formControlName="profilepictureurl" />
                }
            </div>
            <div>
                <label for="txtCountry">Country:</label>
                @if (!isEditing) {
                <span>{{ currentUser.Profile.Country }}</span>
                }
                @else {
                <input type="text" id="txtCountry" formControlName="country" />

                }
            </div>
            <div>
                <label for="txtPhoneNumber">Phone Number:</label>
                @if (!isEditing) {
                <span>{{ currentUser.Profile.PhoneNumber }}</span>
                }
                @else {
                <input type="text" id="txtPhoneNumber" formControlName="phonenumber" />

                }
            </div>
        </div>
        <h2>Preferences</h2>
        <!--User Preferences-->
        <div formGroupName="userPreferences">
           
            <div>
                <label for="drpThemes">Theme : </label>
                @if (!isEditing) {
                <span>
                    {{currentUser.Preferences.Theme || "Light"}}
                </span>
                }
                @else {
                <select name="theme" id="drpThemes" formControlName="theme">
                    @for (theme of themes; track $index) {
                    <option [value]="theme">{{theme}}</option>
                    }

                </select>
                }
            </div>
            <div>
                <label for="drpLanguages">Language:</label>
                @if (!isEditing) {
                <span>{{ currentUser.Preferences.Language }}</span>
                }
                @else {

                <select name="language" id="drpLanguages" formControlName="language">
                    @for (lang of languages; track $index) {
                    <option [value]="lang">{{lang}}</option>
                    }
                </select>

                }
            </div>
            <div>
                <label for="drpPBQuality">Playback Quality:</label>
                @if (!isEditing) {
                <span>{{ currentUser.Preferences.PlayBackQualitySettings }}</span>
                }
                @else {

                <select name="playbackquality" id="drpPBQuality" formControlName="playbackqualitysettings">
                    @for (quality of qualities; track $index) {
                    <option [value]="quality">{{quality}}</option>
                    }
                </select>
                }
            </div>
            <div>
                <label for="drpNotification">Notification Settings:</label>
                @if (!isEditing) {
                <span>{{ currentUser.Preferences.NotificationSettings}}</span>
                }
                @else {
                <select name="notifications" id="drpNotificationSettings" formControlName="notificationsettings">
                    @for (notification of notifications; track $index) {
                    <option [value]="notification">{{notification}}</option>
                    }
                </select>
                }
            </div>
            <div>
                <label for="receivenewsletter">Receive Newsletter:</label>
                @if (!isEditing) {
                <span>
                    @if (currentUser.Preferences.ReceiveNewsLetter) {
                    Subscribed
                    }
                    @else {
                    Not Subscribed
                    }
                </span>
                }
                @else {
                <input type="checkbox" formControlName="receivenewsletter"
                    [value]="currentUser.Preferences.ReceiveNewsLetter">
                }

            </div>

        </div>
        <!-- Actions -->
        <div class="actions">
            @if (!isEditing) {
            <button (click)="edit()">Edit</button>
            }
            @else {
            <button (click)="save()">Save</button>
            <button (click)="cancel()">Cancel</button>
            }

        </div>

    </form>
}
</div>