.user {
    text-align: justify;
    padding: 25px;
    font-family: 'Source Sans 3';
}

.form-label {
    width: 200px;
    margin-right: 50px;
}

.form-select {
    height: 50px;
    background-color: #E8B7C0;
    color: black;
}

.form-control {
    width: 250px;
    height: 50px;
    background-color: #E8B7C0;
    color:black;
}

select>option {
    padding: 5px;
    height: 25px;
    border: 1px solid gray;
    font-family: 'Source Sans 3';
}

.user-profile {
    margin-top: 25px;
    margin-bottom: 25px;
}

.user-preferences {
    margin-top: 25px;
    margin-bottom: 25px;
}

.section-title {
    font-family: 'Source Sans 3';
    font-weight: bold;
    font-size: 18px;
}