.card{
    width:500px;
    height:auto;
    border-style: outset;
    border-width: 1px;
    border-color: silver;    
}

.main-view{
    align-items: stretch;
}

.highlight-title{
    background-color: magenta;
    color:white;
    font-size: 25px;
    text-align: center;
}