<div class="paper-modern">
    <div class="text-center">
        <h3>Login</h3>
    </div>
    <form class="form">
        <div class="row p-1 mt-2">
            <label for="txtLogin" class="form-label">Username</label>
            <input type="text" id="txtLogin" class="form-control" placeholder="User name">
        </div>

        <div class="row p-1 mt-2">
            <label for="txtPassword" class="form-label">Password</label>
            <input type="password" id="txtPassword" class="form-control" placeholder="Password">
        </div>

        <div class="row mt-4">
            <div class="clearfix justify-content-center align-items-center">
                <button type="reset" class="float-start btn-secondary">Clear</button>
                <button type="button" class="btn btn-link" routerLink="/register">
                    New User? Click Here.
                </button>
                <button type="submit" class="float-end btn-primary">Login</button>
            </div>
        </div>
    </form>
</div>